body {
    background-image: url("/images/kings.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.auth-container {
    margin: auto;
    width: 500px;
    height: 750px;
    padding: 25px;
    border-radius: 30px;
    background-color: #f3e4c5;
    color: #5a3a22;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    opacity: 0.9;
}
.auth-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
.auth-button {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    background: #5a3a22;
    border: #5a3a22;
    color: white;
}
a {
    color: #5a3a22;
}
